.main-title, .card-title {
    color: #001A49;
}

.contain-objetives {
    background-color: #EEEEEE;
    color: #001A49;
    border-radius: 4px;
}

.img-objetive {
    width: 82px;
    height: 82px;
}

.card-products {
    background-color: #CB904D;
}

.card-users {
    background-color: #086375;
}

.card-img {
    width: 48px;
    height: 48px;
}














