.sidebar {
    position: sticky;
    top: 0;
    bottom: 0;
    left: 0;
    width: 275px;
    z-index: 300;
}

.img_logo {
    width: 40px;
    height: 40px;
}

.nav-link.active {
    background-color: #0d6efd;
    border-radius: 3px;
}
.img-links {
    width: 19px;
    height: 19px;
}

.navbar-top {
    background-color: #757575;
    position: sticky;
    top: 0;
    z-index: 200;
}

.img-logout {
    width: 20px;
    height: 20px;
}

.main-title, .card-title {
    color: #001A49;
}

.contain-objetives {
    background-color: #EEEEEE;
    color: #001A49;
    border-radius: 4px;
}

.img-objetive {
    width: 82px;
    height: 82px;
}

.card-products {
    background-color: #CB904D;
}

.card-users {
    background-color: #086375;
}

.card-img {
    width: 48px;
    height: 48px;
}

@media (max-width: 991px) {
    .sidebar {
        position: fixed;
    }
}













