.card-products {
    width: 90%;
    margin-top: 4rem;
    margin-bottom: 3rem;
}

.card-header-products {
    background-color: #CB904D;
}

.btn-agregar, .modal-header-green, .btnAddProduct{
    background-color: #4A7C59;
}

.btn-buscar {
    background-color: #757575;
}

.header-table  {
    background-color: #BDBDBD;
}

.btn-editar, .modal-header-blue, .btnEditProduct {
    background-color: #3943B7;
}

.btn-eliminar {
    background-color: #D00000;
}

.btn-prev-next {
    background-color: #E0E0E0;
}

.iconos-alertas {
    width: 24px;
    height: 24px;
}

.triangle-fill {
    color: #dc3545;
}

.alert {
    z-index: 1100;
    width: 56%;
    margin: auto;
}
