<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio Inventario</title>
    <link rel="shortcut icon" href="./images/inventario.png" type="image/png">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/templateApp.css">
    <link rel="stylesheet" href="./css/productos.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <!-- SIDEBAR -->
            <div class="col-auto text-white p-0">
                <div id="sidebarMenu" class="sidebar collapse d-lg-flex flex-column bg-dark text-white min-vh-100 p-3">
                    <div class="sidebar-header text-center d-flex align-items-center">
                        <img src="./images/inventario.png" class="img-fluid img_logo me-2" alt="inventario">
                        <span class=" fw-bolder fs-5">INVENTARIOS</span>
                    </div>
                    <hr>
                    <ul id="menu" class="nav navbar-dark flex-column">
                        <li class="nav-item">
                            <a href="/inicio" class="nav-link  text-white">
                                <img src="./images/home.svg" class= "img-fluid img-links me-2" alt="inicio">
                                <span class="">Inicio</span> 
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/productos" class="nav-link active text-white" aria-current="page">
                                <img src="./images/productos.svg" class= "img-fluid img-links me-2" alt="productos">
                                <span class="">Productos</span> 
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a href="/usuarios" class="nav-link text-white">
                                <img src="./images/usuarios.svg" class= "img-fluid img-links me-2" alt="usuarios">
                                <span class="">Usuarios</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col p-0 ">
                <!-- NAVBAR -->
                <nav class="navbar navbar-dark navbar-top text-white">
                    <div class="container-fluid justify-content-end align-items-center">
                        <a class="navbar-brand" href="/">
                            <img src="./images/logout.svg" class= "img-fluid img-logout" alt="logout">
                            <span class= "">Salir</span>
                        </a>
                        <button class="navbar-toggler d-lg-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                </nav>

                <!-- MAIN -->
                <main>
                    <div class="card card-products mx-auto">
                        <h4 class="card-header card-header-products text-white">Productos</h4>
                        <div class="card-body">
                            <div class="row d-flex align-items-center">
                                <div class="col-12 col-sm-8 col-xl-4 form-group d-flex align-items-center mb-3 mb-sm-4">
                                    <label for="inputSelect">Mostrar</label>
                                    <select id="inputSelect" class="form-select mx-1 w-25" >
                                      <option value="1">5</option>
                                      <option value="2">10</option>
                                      <option value="3">15</option>
                                      <option value="4">20</option>
                                    </select>
                                    <label for="inputSelect">entradas</label>
                                </div>
                                <div class="col-3 col-sm-4 col-xl-4 d-flex align-items-center justify-content-sm-end  justify-content-xl-center mb-4">
                                    <!-- <button id="btnOpenAdd" class="btn btn-agregar text-white fs-6" type="button"  data-bs-toggle="modal" data-bs-target="#productModal"> -->
                                    <button id="btnOpenAdd" class="btnOpenAdd btn btn-agregar text-white fs-6" type="button" data-backdrop="false">
                                        <img src="./images/agregar.svg" class= "img-fluid me-1" alt="añadir">
                                        <span class="d-none d-sm-inline">Agregar</span> 
                                    </button>
                                </div>
                                <div class="col btn-group d-flex mb-4">
                                    <input id="inputSearch" type="search" class="form-control" placeholder="Buscar" aria-label="Search">
                                    <button class="btn btnSearch" type="submit">
                                        <img src="./images/buscar.svg" class= "img-fluid" alt="buscar">
                                    </button>
                                </div>
                            </div>

                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead class="header-table">
                                    <tr class="align-middle">
                                        <th scope="col">ID</th>
                                        <th scope="col">Descripción</th>
                                        <th scope="col">Categoría</th>
                                        <th scope="col">Stock</th>
                                        <th scope="col">Precio x Und</th>
                                        <th scope="col">Activo</th>
                                        <th scope="col">Fecha creación</th>
                                        <th scope="col">Acción</th>
                                    </tr>
                                    </thead>
                                    <tbody id="body-table">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row d-flex align-items-center mx-3 mb-3 mb-md-4">
                            <p class="col-8 col-sm-10 col-xl-11 text-muted">Mostrando 1 de 20 entradas</p>
                            <div class="col btn-group align-items-center" role="group">
                                <button type="button" class="btn btn-outline-secondary btn-prev-next p-1 ">
                                    <img src="./images/prev.svg" class= "img-fluid" alt="prev">
                                </button>
                                <button type="button" class="btn btn-outline-secondary btn-prev-next p-1 ">
                                    <img src="./images/next.svg" class= "img-fluid" alt="next">
                                </button>
                            </div>
                        </div>
                        
                    </div>
                </main>

                <!-- MODAL -> Agregar y editar Producto-->
                <div id="productModal" class="modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 id="modal-title" class="modal-title text-white"></h5>
                                <button class="btn-close btn-close-white" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                                <!-- <button id="btnClose" class="btn-close btn-close-white" type="button"></button> -->
                            </div>
                            <div class="modal-body">
                                <form id="form-producto"class="row">
                                    <div class="mb-3 col-12">
                                        <label for="inputDescription" class="form-label">Descripción <span class="text-danger">*</span> </label>
                                        <input id="inputDescription" name="inputDescription" class="form-control input" type="text" placeholder="p ej.: Iphone 13 Pro" aria-describedby="descriptionHelp">
                                        <div id="descriptionHelp" class="form-text text-danger d-none">El campo solo puede contener letras (con o sin acentos), números, espacios y guiones</div>
                                    </div>
                                    <div class="mb-3 col-12">
                                        <label for="inputCategory" class="form-label">Categoría <span class="text-danger">*</span> </label>
                                        <input id="inputCategory" name="inputCategory" class="form-control input" type="text" placeholder="p ej.: Tecnología " aria-describedby="categoryHelp">
                                        <div id="categoryHelp" class="form-text text-danger d-none">El campo solo puede contener letras y espacios.</div>
                                    </div>
                                    <div class="mb-3 col-4">
                                        <label for="inputStock" class="form-label">Stock <span class="text-danger">*</span> </label>
                                        <input id="inputStock" name="inputStock" class="form-control input" type="number" placeholder="p ej.: 12" aria-describedby="stockHelp">
                                        <div id="stockHelp" class="form-text text-danger d-none">El campo solo puede contener números.</div>
                                    </div>
                                    <div class="mb-3 col-8">
                                        <label for="inputPrice" class="form-label">Precio x Unidad <span class="text-danger">*</span> </label>
                                        <input id="inputPrice" name="inputPrice" class="form-control input" type="number" placeholder="p ej.: 5448900" aria-describedby="priceHelp">
                                        <div id="priceHelp" class="form-text text-danger d-none">El campo solo puede contener números o la coma en caso de usar decimales.</div>
                                    </div>
                                    <div class="mb-4 col-4">
                                        <label class="mb-2" for="inputActive">Activo <span class="text-danger">*</span></label>
                                        <select id="inputActive" name="inputActive" class="form-select input" >
                                          <option selected>Selecciona una opción</option>
                                          <option value="1">True</option>
                                          <option value="2">False</option>
                                        </select>
                                        <div id="activeHelp" class="form-text text-danger d-none">Seleccione una de las opciones.</div>
                                    </div>
                                    <div class="mb-4 col-8">
                                        <label class="d-block mb-2" for="inputCreationDate">Fecha de creación: <span class="text-danger">*</span></label>
                                        <input  id="inputCreationDate" name="inputCreationDate" class="form-control input" type="date" placeholder="p ej.: 2022/09/29">
                                        <div id="creationDateHelp" class="form-text text-danger d-none">Este campo no puede estar vacío, debe contener una fecha válida.</div>
                                    </div>
                                    <div id="submitProduct" class="text-center">
                                        <!-- <button id="${modalButton}" class="btn text-white" type="submit">Enviar</button> -->
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- MODAL -> Modal para eliminar el Producto-->
                <div id="deleteModal" class="modal">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">
                            <svg class="bi flex-shrink-0 me-2 iconos-alertas triangle-fill" role="img" aria-label="Danger:"><use href="./images/iconos-alertas.svg#exclamation-triangle-fill"/></svg>
                          </h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <p>Esta seguro de eliminar el registro de producto seleccionado?</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cancelar</button>
                          <button id="btnDeleteProduct" type="button" class="btn btn-danger">Eliminar</button>
                        </div>
                      </div>
                    </div>
                  </div>

                <div id="alert-message" class="center-block"></div>

            </div>

        </div>
    </div>

    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/productos.js"></script> 
</body>
</html>