<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
    <link rel="shortcut icon" href="./images/inventario.png" type="image/png">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/templateApp.css">
    <link rel="stylesheet" href="./css/usuarios.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <!-- SIDEBAR -->
            <div class="col-auto text-white p-0">
                <div id="sidebarMenu" class="sidebar collapse d-lg-flex flex-column bg-dark text-white min-vh-100 p-3">
                    <div class="sidebar-header text-center d-flex align-items-center">
                        <img src="./images/inventario.png" class="img-fluid img_logo me-2" alt="inventario">
                        <span class=" fw-bolder fs-5">INVENTARIOS</span>
                    </div>
                    <hr>
                    <ul id="menu" class="nav navbar-dark flex-column">
                        <li class="nav-item">
                            <a href="/inicio" class="nav-link  text-white">
                                <img src="./images/home.svg" class= "img-fluid img-links me-2" alt="inicio">
                                <span class="">Inicio</span> 
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/productos" class="nav-link  text-white" >
                                <img src="./images/productos.svg" class= "img-fluid img-links me-2" alt="productos">
                                <span class="">Productos</span> 
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a href="/usuarios" class="nav-link active text-white" aria-current="page">
                                <img src="./images/usuarios.svg" class= "img-fluid img-links me-2" alt="usuarios">
                                <span class="">Usuarios</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col p-0 ">
                <!-- NAVBAR -->
                <nav class="navbar navbar-dark navbar-top text-white">
                    <div class="container-fluid justify-content-end align-items-center">
                        <a class="navbar-brand" href="/">
                            <img src="./images/logout.svg" class= "img-fluid img-logout" alt="logout">
                            <span class= "">Salir</span>
                        </a>
                        <button class="navbar-toggler d-lg-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                </nav>

                <!-- MAIN -->
                <main>
                    <div class="card card-users mx-auto">
                        <h4 class="card-header card-header-users text-white">Usuarios</h4>
                        <div class="card-body">
                            <div class="row d-flex align-items-center">
                                <div class="col-12 col-sm-8 col-xl-4 form-group d-flex align-items-center mb-3 mb-sm-4">
                                    <label for="inputSelect">Mostrar</label>
                                    <select id="inputSelect" class="form-select mx-1 w-25" >
                                      <option value="1">5</option>
                                      <option value="2">10</option>
                                      <option value="3">15</option>
                                      <option value="4">20</option>
                                    </select>
                                    <label for="inputSelect">entradas</label>
                                </div>
                                <div class="col-3 col-sm-4 col-xl-4 d-flex align-items-center justify-content-sm-end  justify-content-xl-center mb-4">
                                    <button id="btnOpenAdd" class="btnOpenAdd btn btn-agregar text-white fs-6" type="button" data-backdrop="false">
                                        <img src="./images/agregar.svg" class= "img-fluid me-1" alt="añadir">
                                        <span class="d-none d-sm-inline">Agregar</span> 
                                    </button>
                                </div>
                                <div class="col btn-group d-flex mb-4">
                                    <input id="inputSearch" type="search" class="form-control" placeholder="Buscar" aria-label="Search">
                                    <button class="btn btnSearch" type="submit">
                                        <img src="./images/buscar.svg" class= "img-fluid" alt="buscar">
                                    </button>
                                </div>
                            </div>

                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead class="header-table">
                                    <tr class="align-middle">
                                        <th scope="col">ID</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Apellido</th>
                                        <th scope="col">Email</th>
                                        <th scope="col" class="d-none">Contraseña</th>
                                        <th scope="col">Administrador</th>
                                        <th scope="col">Activo</th>
                                        <th scope="col">Acción</th>
                                    </tr>
                                    </thead>
                                    <tbody id="body-table">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row d-flex align-items-center mx-3 mb-3 mb-md-4">
                            <p class="col-8 col-sm-10 col-xl-11 text-muted">Mostrando 1 de 20 entradas</p>
                            <div class="col btn-group align-items-center" role="group">
                                <button type="button" class="btn btn-outline-secondary btn-prev-next p-1 ">
                                    <img src="./images/prev.svg" class= "img-fluid" alt="prev">
                                </button>
                                <button type="button" class="btn btn-outline-secondary btn-prev-next p-1 ">
                                    <img src="./images/next.svg" class= "img-fluid" alt="next">
                                </button>
                            </div>
                        </div>
                        
                    </div>
                </main>

                <!-- MODAL -> Agregar y editar Producto-->
                <div id="userModal" class="modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 id="modal-title" class="modal-title text-white"></h5>
                                <button class="btn-close btn-close-white" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form id="form-usuario"class="row">
                                    <div class="mb-3 col-md-6">
                                        <label for="inputName" class="form-label">Nombre <span class="text-danger">*</span> </label>
                                        <input type="text" class="form-control input" name="inputName" id="inputName" placeholder="p ej.: Nelson" aria-describedby="nameHelp">
                                        <div id="nameHelp" class="form-text text-danger d-none">El campo nombre solo puede contener letras y espacios.</div>
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label for="inputLastName" class="form-label">Apellido <span class="text-danger">*</label>
                                        <input type="text" class="form-control input" name="inputLastName" id="inputLastName" placeholder="p ej.: Cruz">
                                        <div id="lastNameHelp" class="form-text text-danger d-none">El campo apellidos solo puede contener letras y espacios.</div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="inputEmail" class="form-label">Email <span class="text-danger">*</label>
                                        <input type="email" class="form-control input" name="inputEmail" id="inputEmail" placeholder="p ej.: nelson12@example.com">
                                        <div id="emailHelp" class="form-text text-danger d-none">El campo email debe ser una dirección de correo electrónico válida</div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="inputPassword" class="form-label">Contraseña <span class="text-danger">*</label>
                                        <input type="password" class="form-control input" name="inputPassword" id="inputPassword" placeholder="Ingrese una contraseña válida">
                                        <div id="passwordHelp" class="form-text text-danger d-none">La contraseña debe contener más de 8 caracteres, al menos un dígito, al menos una letra mayúscula y al menos una letra minúscula.</div>
                                    </div>
                                    <div class="mb-4 col-6">
                                        <label class="mb-2" for="inputAdmin">Administrador <span class="text-danger">*</span></label>
                                        <select id="inputAdmin" name="inputAdmin" class="form-select input" >
                                          <option selected>Selecciona una opción</option>
                                          <option value="1">True</option>
                                          <option value="2">False</option>
                                        </select>
                                        <div id="adminHelp" class="form-text text-danger d-none">Seleccione una de las opciones.</div>
                                    </div>
                                    <div class="mb-4 col-6">
                                        <label class="mb-2" for="inputActive">Activo <span class="text-danger">*</span></label>
                                        <select id="inputActive" name="inputActive" class="form-select input" >
                                          <option selected>Selecciona una opción</option>
                                          <option value="1">True</option>
                                          <option value="2">False</option>
                                        </select>
                                        <div id="activeHelp" class="form-text text-danger d-none">Seleccione una de las opciones.</div>
                                    </div>
                                    <div id="submitUser" class="text-center">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- MODAL -> Modal para eliminar el Producto-->
                <div id="deleteModal" class="modal">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">
                            <svg class="bi flex-shrink-0 me-2 iconos-alertas triangle-fill" role="img" aria-label="Danger:"><use href="./images/iconos-alertas.svg#exclamation-triangle-fill"/></svg>
                          </h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <p>Esta seguro de eliminar el registro de usuario seleccionado?</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cancelar</button>
                          <button id="btnDeleteUser" type="button" class="btn btn-danger">Eliminar</button>
                        </div>
                      </div>
                    </div>
                  </div>

                <div id="alert-message" class="center-block"></div>

            </div>

        </div>
    </div>

    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/usuarios.js"></script> 
</body>
</html>